.venueBookingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
 
    padding: 20px;
    /* Light yellow background */
  }
  
  .venueCardBooking {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffcccb; /* Light red background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 900px;
   
    margin: 20px;
  }
  
  .venueImage {
    width: 40%;
    height: 300px;
    object-fit: cover;
  }
  
  .venueDetails {
    padding: 20px;
  }
  
  .venueName {
    font-size: 2em;
    color: #d32f2f; /* Dark red color */
    margin: 0;
  }
  
  .venueLocation,
  .venueCapacity,
  .venueDescription {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
  }
  
  .eventsContainer {
    width: 100%;
    max-width: 800px;
    background-color: #ffebcd; /* Light yellow background for events */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .eventsTitle {
    font-size: 1.5em;
    color: #d32f2f; /* Dark red color */
    margin-bottom: 10px;
  }
  
  .eventCard {
    background-color: #fff; /* White background for individual event cards */
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .eventName {
    font-size: 1.3em;
    color: #d32f2f; /* Dark red color */
    margin: 0;
  }
  
  .eventDate,
  .eventTime,
  .eventDescription {
    font-size: 1em;
    color: #333;
    margin: 5px 0;
  }
  